/* You can add global styles to this file, and also import other style files */
input[type=text],input[type=password],input[type=email] {
    height: 100% !important;
    min-height: 100% !important;
}

.nav li:focus {
    outline: none !important;
}

.cursor {
    cursor: pointer;
}